<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Caveat&family=Saira+Condensed&family=Secular+One&family=Shippori+Antique+B1&family=Tajawal:wght@300&display=swap" rel="stylesheet">

<div class="card bg-dark text-white">
    <img src={{contact}} class="card-img" alt="...">

    <div class="d-flex align-items-center card-img-overlay" id="bgw">
        <div class="flex-grow-1 ms-3 text-center" id="bg">
        </div>
    </div>

    <div class="d-flex align-items-center card-img-overlay" >
        <div class="flex-grow-1 ms-3 text-center">
            <p class="card-title " id="header">I'd be delighted to hear from you!</p>
            <p class="card-text" id="context">If you have any questions regarding our products, 
                please don't hesitate to contact us. We are available to answer any concerns
                 you may have.
            </p>
            <br>
        </div>
      </div>

</div>

<div id="contact-page">
    <br>
    <p class="card-title text-center" id="contact-me">Contact Us</p>
    <form>
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name <span>*</span></label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last Name, First Name M.I.">
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email <span>*</span></label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="you@email.com">
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Comment/Question <span>*</span></label>
            <textarea class="form-control" name="message" cols="30" rows="6" placeholder="Your Message"></textarea>
        </div>

        <button type="submit" class="btn">Submit</button>

    </form>

    <br><br>

    <div class="card-group" id="other">
        <div class="card">
          <img src={{email}} class="card-img-top" id="icon">
          <div class="card-body" id="info">
            <p class="card-text"><small class="text-muted">antholemlemmanalo@gmail.com</small></p>
          </div>
        </div>
        
        <div class="card">
            <img src={{mobile}} class="card-img-top" id="icon">
            <div class="card-body" id="info">
              <p class="card-text"><small class="text-muted">+63 9773336314</small></p>
            </div>
          </div>

          <div class="card">
            <img src={{address}} class="card-img-top" id="icon">
            <div class="card-body" id="info">
              <p class="card-text"><small class="text-muted">Mabalacat, Pampanga, Philippines</small></p>
            </div>
          </div>
      </div>
    <br><br>



</div>

