<br>
<h1 class="text-danger text-center fs-1 fw-bolder">My Works</h1>
<br>

<div class="card mb-3" id="port-content">

    <div class="row g-0">
      <div class="col-md-4">
        <img src={{a}} class="img-fluid rounded-start">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <br><br>
          <h3 class="card-title text-success">Wear To Slay</h3>
          <p class="card-text">
            A Business Clothing website with a domain name and a hosting service that is available 
            online. The Wear to Slay brand offers a one-of-a-kind look at a reasonable price that 
            won't break your wallet.
          </p>
          <p class="card-text"><small class="text-muted"><i>Wordpress</i></small></p>
        </div>
      </div>

      <hr>
      <div class="col-md-4">
        <img src={{b}} class="img-fluid rounded-start">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <br><br>
          <h3 class="card-title text-success">HAU's Author/Book Library</h3>
          <p class="card-text">
            You will be able to create, edit, and delete a user's database using PHP and MySQL, as 
            well as design it using HTML/CSS. You will utilize the XAMPP control panel because this 
            is a localhost only.
          </p>
          <p class="card-text"><small class="text-muted"><i>PHP, CSS/HTML, MySQL</i></small></p>
        </div>
      </div>

      <hr>

      <div class="col-md-4">
        <img src={{c}} class="img-fluid rounded-start">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <br><br>
          <h3 class="card-title text-success">Mflix User's Database</h3>
          <p class="card-text">
            You will utilize a localhost to add, update, search, 
            and remove user data for this academic project, which will employ a PHP MongoDB database.
          </p>
          <p class="card-text"><small class="text-muted"><i>PHP, MongoDB, CSS/HTML</i></small></p>
        </div>
      </div>

      <hr>

      <div class="col-md-4">
        <img src={{d}} class="img-fluid rounded-start">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <br><br>
          <h3 class="card-title text-success">Hilton Hotel (Re-designed)</h3>
          <p class="card-text">
            Our task is to re-design the Hilton Hotel's official website using 
            CSS and HTML. In addition, the input form part is likewise written in JavaScript.
          </p>
          <p class="card-text"><small class="text-muted"><i>JavaScript, CSS/HTML</i></small></p>
        </div>
      </div>

      <hr>

      <div class="col-md-4">
        <img src={{e}} class="img-fluid rounded-start">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <br><br>
          <h3 class="card-title text-success">Kickzilla</h3>
          <p class="card-text">
            Because it is merely a localhost site, it does not have an official website. In order to 
            add, delete, and submit a form to buy it, this project used PHP, VueJS, HTML, and CSS.
          </p>
          <p class="card-text"><small class="text-muted"><i>PHP, VueJS, CSS/HTML</i></small></p>
        </div>
      </div>

    </div>
  </div>