<br>
<h1 class="text-danger text-center fs-1 fw-bolder">Contact Me</h1>
<br>
<div class="card-group" id="email">

    <div class="card" style="border: transparent">
      <div class="card-body">
        <h3 class="card-title text-success" >Email</h3><br>
        <p class="card-text">
            <b>Personal Email</b> : antholemlemmanalo@gmail.com <br>
            <b>HAU Email</b> : sgmanalo@student.hau.edu.ph
        </p>
      </div>
    </div>

    <div class="card" style="border: transparent">
      <div class="card-body">
        <h3 class="card-title text-success">Other Contacts</h3><br>
        <p class="card-text">
            <b>Mobile Number</b> : +63 9773336314 <br>
        </p>
      </div>
    </div>
</div>

<br><br>

<div class="row row-cols-1 row-cols-md-3 g-4" id="contact">
  <div class="col ">
    <div class="card">
      <img src={{fb}} class="card-img-top">
      <div class="card-body">
      </div>
    </div>
  </div>

  <div class="col">
      <div class="card">
        <img src={{tw}} class="card-img-top">
        <div class="card-body">
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src={{ig}} class="card-img-top">
        <div class="card-body">
        </div>
      </div>
    </div>
</div>