<br>
<h1 class="text-danger text-center fs-1 fw-bolder">Personal Information</h1>
<div>
    <div class="card mb-3" style="border: transparent;">
        <img src={{pic}} class="card-img-top">
        <div class="card-body" id="info-card">
          <p class="card-text" >
            <b>Name</b> : Sam Antholem Manalo <br>
            <b>Age</b> : 21 <br>
            <b>Birthdate</b> : August 05, 2000 <br>
            <b>Nationality</b> : Filipino <br>
            <b>Civil Status</b> : Single <br>
            <b> Address</b> : 4509 Chicago St. Dau, Mabalacat, Pampanga <br>
            <b>Gender</b> : Male
          </p>
        </div>
      </div>
</div>

<hr>

<h1 class="text-danger text-center fs-1 fw-bolder">Educational Background</h1>
<div class="row row-cols-1 row-cols-md-3 g-4" id="educ">
    <div class="col ">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-start">Great Sheperd Academy</h5>
            <p class="text-start">
                Great Sheperd Academy<br>
                Elementary & Junior Highschool<br>
                Mabalacat City, Pampanga<br>
                2007-2017
            </p>
        </div>
      </div>
    </div>

    <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-start">Holy Angel University</h5>
             <p class="text-start">
                Holy Angel University<br>
                Senior Highschool (ABM)<br>
                Sto. Rosario St. Angeles City<br>
                2017-2019
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-start">Holy Angel University</h5>
            <p class="text-start ">
                Holy Angel University<br>
                College (IT Web Development)<br>
                Sto. Rosario St. Angeles City<br>
                2019-2023
            </p>
          </div>
        </div>
      </div>
</div>
