<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Caveat&family=Saira+Condensed&family=Secular+One&family=Shippori+Antique+B1&family=Tajawal:wght@300&display=swap" rel="stylesheet">

<div class="card bg-dark text-white">
    <img src={{cover}} class="card-img" alt="...">

    <div class="d-flex align-items-center card-img-overlay" id="bgw">
        <div class="flex-grow-1 ms-3 text-center" id="bg">
        </div>
    </div>

    <div class="d-flex align-items-center card-img-overlay" >
        <div class="flex-grow-1 ms-3 text-center">
            <br>
            <p class="card-title " id="product-name">When it's on you, it's better!</p>
            <p class="card-text" id="tagline">No one can beat you, but no one can beat your outfit if you wear it.</p>
            <p class="btn " routerLink= "../products">Shop</p>
            <br>
            <br>
        </div>
      </div>

</div>