<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Caveat&family=Saira+Condensed&family=Secular+One&family=Shippori+Antique+B1&family=Tajawal:wght@300&display=swap" rel="stylesheet">


<p class="text-center" id="category">Jacket</p>
<div class="row row-cols-1 row-cols-md-3 g-4" id="list">

    <div class="col">
      <div class="card h-100" >
        <img src={{product1}} class="card-img-top">
        <div class="card-body">
          <h5 class="card-title" id="product-name">Windbreaker</h5>
          <p class="card-text">#SHL0007</p>
          <p class="card-text">₱ 3,500.00</p>
          <p class="btn " id="buy">Buy</p>
          <p class="btn " routerLink= "../product-details" id="detail">Details</p>
        </div>
      </div>
    </div>

    <div class="col">
        <div class="card h-100" >
          <img src={{product2}} class="card-img-top">
          <div class="card-body">
            <h5 class="card-title" id="product-name">Cardigan</h5>
            <p class="card-text">#SHL0017</p>
            <p class="card-text">₱ 2,399.00</p>
            <p class="btn " id="buy">Buy</p>
            <p class="btn " routerLink= "../product-details" id="detail">Details</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100" >
          <img src={{product3}} class="card-img-top">
          <div class="card-body">
            <h5 class="card-title" id="product-name">Parka</h5>
            <p class="card-text">#SHL0027</p>
            <p class="card-text">₱ 5,900.00</p>
            <p class="btn " id="buy">Buy</p>
            <p class="btn " routerLink= "../product-details" id="detail">Details</p>
          </div>
        </div>
      </div>
</div>

<br><br>
<p class="text-center" id="category">Pants</p>
<div class="row row-cols-1 row-cols-md-3 g-4" id="list">

    <div class="col">
      <div class="card h-100" >
        <img src={{product4}} class="card-img-top">
        <div class="card-body">
          <h5 class="card-title" id="product-name">Slim Jeans</h5>
          <p class="card-text">#SHL0008</p>
          <p class="card-text">₱ 1,290.00</p>
          <p class="btn " id="buy">Buy</p>
          <p class="btn " routerLink= "../product-details" id="detail">Details</p>
        </div>
      </div>
    </div>

    <div class="col">
        <div class="card h-100" >
          <img src={{product5}} class="card-img-top">
          <div class="card-body">
            <h5 class="card-title" id="product-name">Lululemon</h5>
            <p class="card-text">#SHL0018</p>
            <p class="card-text">₱ 1,099.00</p>
            <p class="btn " id="buy">Buy</p>
            <p class="btn " routerLink= "../product-details" id="detail">Details</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100" >
          <img src={{product6}} class="card-img-top">
          <div class="card-body">
            <h5 class="card-title" id="product-name">Trouser</h5>
            <p class="card-text">#SHL0028</p>
            <p class="card-text">₱ 2,100.50</p>
            <p class="btn " id="buy">Buy</p>
            <p class="btn " routerLink= "../product-details" id="detail">Details</p>
          </div>
        </div>
      </div>
</div>

<br><br>
<p class="text-center" id="category">T-Shirts</p>
<div class="row row-cols-1 row-cols-md-3 g-4" id="list">

    <div class="col">
      <div class="card h-100" >
        <img src={{product7}} class="card-img-top">
        <div class="card-body">
          <h5 class="card-title" id="product-name">V-neck Short Sleeve</h5>
          <p class="card-text">#SHL0001</p>
          <p class="card-text">₱ 850.00</p>
          <p class="btn " id="buy">Buy</p>
          <p class="btn " routerLink= "../product-details" id="detail">Details</p>
        </div>
      </div>
    </div>

    <div class="col">
        <div class="card h-100" >
          <img src={{product8}} class="card-img-top">
          <div class="card-body">
            <h5 class="card-title" id="product-name">Solid Crew Neck</h5>
            <p class="card-text">#SHL0011</p>
            <p class="card-text">₱ 599.00</p>
            <p class="btn " id="buy">Buy</p>
            <p class="btn " routerLink= "../product-details" id="detail">Details</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100" >
          <img src={{product9}} class="card-img-top">
          <div class="card-body">
            <h5 class="card-title" id="product-name">Carhartt</h5>
            <p class="card-text">#SHL0021</p>
            <p class="card-text">₱ 1,700.00</p>
            <p class="btn " id="buy">Buy</p>
            <p class="btn " routerLink= "../product-details" id="detail">Details</p>
          </div>
        </div>
      </div>
</div>

<br><br>
<p class="text-center" id="category">Shoes</p>
<div class="row row-cols-1 row-cols-md-3 g-4" id="list">

    <div class="col">
      <div class="card h-100" >
        <img src={{product10}} class="card-img-top">
        <div class="card-body">
          <h5 class="card-title" id="product-name">Brown Leather</h5>
          <p class="card-text">#SHL0002</p>
          <p class="card-text">₱ 2,250.50</p>
          <p class="btn " id="buy">Buy</p>
          <p class="btn " routerLink= "../product-details" id="detail">Details</p>
        </div>
      </div>
    </div>

    <div class="col">
        <div class="card h-100" >
          <img src={{product11}} class="card-img-top">
          <div class="card-body">
            <h5 class="card-title" id="product-name">Running Shoes</h5>
            <p class="card-text">#SHL0012</p>
            <p class="card-text">₱ 999.00</p>
            <p class="btn " id="buy">Buy</p>
            <p class="btn " routerLink= "../product-details" id="detail">Details</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100" >
          <img src={{product12}} class="card-img-top">
          <div class="card-body">
            <h5 class="card-title" id="product-name">Vans</h5>
            <p class="card-text">#SHL0022</p>
            <p class="card-text">₱ 5,999.00</p>
            <p class="btn " id="buy">Buy</p>
            <p class="btn " routerLink= "../product-details" id="detail">Details</p>
          </div>
        </div>
      </div>
</div>

<br><br>
<p class="text-center" id="category">Handbags</p>
<div class="row row-cols-1 row-cols-md-3 g-4" id="list">

    <div class="col">
      <div class="card h-100" >
        <img src={{product13}} class="card-img-top">
        <div class="card-body">
          <h5 class="card-title" id="product-name">Puzzle Mini</h5>
          <p class="card-text">#SHL0003</p>
          <p class="card-text">₱ 1,323.50</p>
          <p class="btn " id="buy">Buy</p>
          <p class="btn " routerLink= "../product-details" id="detail">Details</p>
        </div>
      </div>
    </div>

    <div class="col">
        <div class="card h-100" >
          <img src={{product14}} class="card-img-top">
          <div class="card-body">
            <h5 class="card-title" id="product-name">Dionysus Small</h5>
            <p class="card-text">#SHL0013</p>
            <p class="card-text">₱ 1,999.00</p>
            <p class="btn " id="buy">Buy</p>
            <p class="btn " routerLink= "../product-details" id="detail">Details</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100" >
          <img src={{product15}} class="card-img-top">
          <div class="card-body">
            <h5 class="card-title" id="product-name">Micro Lugagge</h5>
            <p class="card-text">#SHL0023</p>
            <p class="card-text">₱ 999.00</p>
            <p class="btn " id="buy">Buy</p>
            <p class="btn " routerLink= "../product-details" id="detail">Details</p>
          </div>
        </div>
      </div>
</div>

<br><br>
<p class="text-center" id="category">Jogging Pants</p>
<div class="row row-cols-1 row-cols-md-3 g-4" id="list">

    <div class="col">
      <div class="card h-100" >
        <img src={{product16}} class="card-img-top">
        <div class="card-body">
          <h5 class="card-title" id="product-name">Printed Drape</h5>
          <p class="card-text">#SHL0004</p>
          <p class="card-text">₱ 300.00</p>
          <p class="btn " id="buy">Buy</p>
          <p class="btn " routerLink= "../product-details" id="detail">Details</p>
        </div>
      </div>
    </div>

    <div class="col">
        <div class="card h-100" >
          <img src={{product17}} class="card-img-top">
          <div class="card-body">
            <h5 class="card-title" id="product-name">LA Sweat</h5>
            <p class="card-text">#SHL0014</p>
            <p class="card-text">₱ 999.00</p>
            <p class="btn " id="buy">Buy</p>
            <p class="btn " routerLink= "../product-details" id="detail">Details</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100" >
          <img src={{product18}} class="card-img-top">
          <div class="card-body">
            <h5 class="card-title" id="product-name">Track</h5>
            <p class="card-text">#SHL0024</p>
            <p class="card-text">₱ 1,599.00</p>
            <p class="btn " id="buy">Buy</p>
            <p class="btn " routerLink= "../product-details" id="detail">Details</p>
          </div>
        </div>
      </div>
</div>

<br><br>
<p class="text-center" id="category">Faceshields</p>
<div class="row row-cols-1 row-cols-md-3 g-4" id="list">

    <div class="col">
      <div class="card h-100" >
        <img src={{product19}} class="card-img-top">
        <div class="card-body">
          <h5 class="card-title" id="product-name">C1 Gray</h5>
          <p class="card-text">#SHL0005</p>
          <p class="card-text">₱ 50.00</p>
          <p class="btn " id="buy">Buy</p>
          <p class="btn " routerLink= "../product-details" id="detail">Details</p>
        </div>
      </div>
    </div>

    <div class="col">
        <div class="card h-100" >
          <img src={{product20}} class="card-img-top">
          <div class="card-body">
            <h5 class="card-title" id="product-name">C2 Tea</h5>
            <p class="card-text">#SHL0015</p>
            <p class="card-text">₱ 50.00</p>
            <p class="btn " id="buy">Buy</p>
            <p class="btn " routerLink= "../product-details" id="detail">Details</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100" >
          <img src={{product21}} class="card-img-top">
          <div class="card-body">
            <h5 class="card-title" id="product-name">C3 Blue</h5>
            <p class="card-text">#SHL0025</p>
            <p class="card-text">₱ 50.00</p>
            <p class="btn " id="buy">Buy</p>
            <p class="btn " routerLink= "../product-details" id="detail">Details</p>
          </div>
        </div>
      </div>
</div>

<br><br>
<p class="text-center" id="category">Mugs</p>
<div class="row row-cols-1 row-cols-md-3 g-4" id="list">

    <div class="col">
      <div class="card h-100" >
        <img src={{product22}} class="card-img-top">
        <div class="card-body">
          <h5 class="card-title" id="product-name">Season of Joy</h5>
          <p class="card-text">#SHL0006</p>
          <p class="card-text">₱ 500.00</p>
          <p class="btn " id="buy">Buy</p>
          <p class="btn " routerLink= "../product-details" id="detail">Details</p>
        </div>
      </div>
    </div>

    <div class="col">
        <div class="card h-100" >
          <img src={{product23}} class="card-img-top">
          <div class="card-body">
            <h5 class="card-title" id="product-name">Lid</h5>
            <p class="card-text">#SHL0016</p>
            <p class="card-text">₱ 500.00</p>
            <p class="btn " id="buy">Buy</p>
            <p class="btn " routerLink= "../product-details" id="detail">Details</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100" >
          <img src={{product24}} class="card-img-top">
          <div class="card-body">
            <h5 class="card-title" id="product-name">Nordic Fall</h5>
            <p class="card-text">#SHL0026</p>
            <p class="card-text">₱ 50.00</p>
            <p class="btn " id="buy">Buy</p>
            <p class="btn " routerLink= "../product-details" id="detail">Details</p>
          </div>
        </div>
      </div>
</div>
<br><br>