<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Caveat&family=Saira+Condensed&family=Secular+One&family=Shippori+Antique+B1&family=Tajawal:wght@300&display=swap" rel="stylesheet">

<div class="card bg-dark text-white">
    <img src={{about}} class="card-img">

    <div class="d-flex align-items-center card-img-overlay">
        <div class="flex-grow-1 ms-3 text-center">
        </div>
    </div>
    
    <div class="d-flex align-items-center card-img-overlay" id="about-content">
        <div class="flex-grow-1 ms-3 text-start" >
            <p class="card-title " id="header">About Us</p>
            <p class="card-text" id="info">
                The number of persons shopping online has increased dramatically throughout the 
                quarantine and lockout period. People all across the world regard online apparel as a 
                depiction of current fashion trends within a culture. <span>Antholem's Clothing (A.C.)</span> is an 
                online clothing business that provides bright, comfy men's and women's clothing at a 
                reasonable price.<br><br>

                Mr. Sam Antholem Manalo formed the company on <span>January 21, 2022</span>, and it began operations 
                in Mabalacat, Pampanga. This company strives to meet and surpass customers' expectations 
                by offering high-quality, cheap pre-owned clothing that enhances their appearance and boosts 
                their confidence.
            </p>
            <p class="btn " routerLink= "../contact">Contact us</p>
        </div>
      </div>

</div>