<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Caveat&family=Saira+Condensed&family=Secular+One&family=Shippori+Antique+B1&family=Tajawal:wght@300&display=swap" rel="stylesheet">

<div class="card">
<img src={{error}} class="card-img">
<div class="d-flex align-items-center card-img-overlay" >
<div class="col-md-12 text-center mt-0">
    <div class="error-template">
        <p id="error404">Error 4<span>0</span>4</p>
        <p id="server"> The requested URL was not found on this server</p>
        <div class="error-details mb-3" id="body">
            Sorry, looks like this page doesn't exist
        </div>
        <div class="error-actions">
            <a routerLink="../home" class="btn">
                Go to Homepage →
            </a>
        </div>
    </div>
</div>
</div>
</div>