<br>
<h1 class="text-danger text-center fs-1 fw-bolder">My Programming Skills</h1>
<br>
<div class="row row-cols-1 row-cols-md-3 g-4" id="skill-content">
    <div class="col ">
      <div class="card">
        <img src={{logo1}} class="card-img-top">
        <div class="card-body">
          <h5 class="card-title text-center">HTML</h5>
        </div>
      </div>
    </div>

    <div class="col">
        <div class="card">
          <img src={{logo2}} class="card-img-top">
          <div class="card-body">
            <h5 class="card-title text-center">CSS</h5>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src={{logo3}} class="card-img-top">
          <div class="card-body">
            <h5 class="card-title text-center">Java</h5>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src={{logo4}} class="card-img-top">
          <div class="card-body">
            <h5 class="card-title text-center">Python</h5>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src={{logo5}} class="card-img-top">
          <div class="card-body">
            <h5 class="card-title text-center">JavaScript</h5>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src={{logo6}} class="card-img-top">
          <div class="card-body">
            <h5 class="card-title text-center">PHP</h5>
          </div>
        </div>
      </div>
</div>